@media screen and (min-width: 0px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
  }
  p {
    letter-spacing: -1px;
    transform: scale(1, 1.05);
    transform-origin: center;
  }
  .title {
    font-weight: 800;
    font-size: 40px;
  }
  .subheading {
    font-weight: 800;
    font-size: 24px;
  }
  .small-body {
    font-size: 14px;
  }
  .website-icon {
    height: 20px;
    width: auto;
  }
  .website-logo {
    height: 75px;
    width: auto;
  }
  .page-content {
    width: 80%;
    margin: auto;
    padding: 20px 0;
  }
  .shop-now-button-red, .shop-now-button-gray, .shop-now-button-white {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    background-color: #df4134;
    outline: none;
    border: none;
    transition: 0.3s all ease;
    border-radius: 5px;
  }
  .shop-now-button-red:hover, .shop-now-button-gray:hover, .shop-now-button-white:hover {
    background-color: #2c3a57;
    cursor: pointer;
  }
  .shop-now-button-white {
    background-color: #ffffff;
    color: #000000;
    width: 125px;
  }
  .shop-now-button-white:hover {
    color: #ffffff;
  }
  .shop-now-button-gray {
    background-color: #f5f5f5;
    color: #272727;
    width: 125px;
  }
  .shop-now-button-gray:hover {
    color: #ffffff;
    background-color: #df4134;
  }
  #header {
    background-color: #2c3a57;
  }
  #header #header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: auto;
    padding: 10px 0;
    width: 80%;
  }
  #header #header-content .header-section {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    width: 400px;
  }
  #header #header-content .header-section:nth-child(2) {
    justify-content: center;
  }
  #header #header-content .header-section:nth-child(3) {
    justify-content: end;
  }
  #header #header-content #nav-tabs {
    gap: 20px;
  }
  #header #header-content #nav-tabs .page-link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s color ease;
  }
  #header #header-content #nav-tabs .page-link:hover {
    cursor: pointer;
    color: #df4134;
  }
  #toolbar #toolbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 10px 0;
  }
  #toolbar #toolbar-content #left-content {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 20px;
  }
  #toolbar #toolbar-content #left-content #website-title {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0;
  }
  #toolbar #toolbar-content #left-content #website-title #super {
    color: #df4134;
  }
  #toolbar #toolbar-content #left-content #searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    height: -moz-min-content;
    height: min-content;
    border: thin solid rgba(0, 0, 0, 0);
  }
  #toolbar #toolbar-content #left-content #searchbar-container:focus-within {
    border: thin solid rgba(0, 0, 0, 0.2509803922);
  }
  #toolbar #toolbar-content #left-content #searchbar-container #searchbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 155px;
  }
  #toolbar #toolbar-content #left-content #searchbar-container #searchbar:focus {
    outline: none;
  }
  #toolbar #toolbar-content #left-content #searchbar-container #search-icon {
    width: 18px;
    height: auto;
  }
  #toolbar #toolbar-content #right-content {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0;
  }
  #toolbar #toolbar-content #right-content div {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 30px;
  }
  #product-filters {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 45px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #ffffff;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 0;
  }
  #product-filters p {
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s color ease;
  }
  #product-filters p:hover {
    color: #df4134;
    cursor: pointer;
  }
  #content #products-gallery {
    width: 100%;
    background-color: #ffffff;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 30px;
  }
  #content #products-gallery #top-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
  }
  #content #products-gallery #top-section #image-slideshow {
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    position: relative;
  }
  #content #products-gallery #top-section #image-slideshow .image-container {
    width: 100%;
    scroll-snap-align: start;
    position: relative;
  }
  #content #products-gallery #top-section #image-slideshow .image-container .image-content-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5019607843);
    z-index: 1;
    width: 100%;
    height: 425px;
  }
  #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-left, #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-right {
    width: 80%;
    margin: 15% auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    gap: 20px;
  }
  #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-left h1, #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-right h1 {
    font-weight: 800;
    font-size: 50px;
  }
  #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-left p, #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-right p {
    font-weight: 800;
    font-size: 25px;
  }
  #content #products-gallery #top-section #image-slideshow .image-container .image-content-container .image-content-right {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-end;
    gap: 20px;
  }
  #content #products-gallery #top-section #image-slideshow .image-container img {
    flex: 0 0 100%;
    width: 857px;
    height: 425px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #content #products-gallery #top-section #sale-banner {
    background-color: #df4134;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 25px;
    height: 425px;
  }
  #content #products-gallery #top-section #sale-banner #sale-offer {
    font-weight: 800;
    font-size: 40px;
  }
  #content #products-gallery #bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
  #content #products-gallery #bottom-section .product-navigation-tab {
    aspect-ratio: 1/1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  #content #products-gallery #bottom-section .product-navigation-tab div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: rgba(0, 0, 0, 0.5019607843);
    transition: 0.3s background-color ease;
  }
  #content #products-gallery #bottom-section .product-navigation-tab div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2509803922);
  }
  #content #products-gallery #bottom-section .product-navigation-tab div:hover h1 {
    transform: translateY(-3px);
  }
  #content #products-gallery #bottom-section .product-navigation-tab div h1 {
    transition: 0.3s transform ease;
    font-size: 35px;
    font-weight: 800;
  }
  #content #featured-products-container {
    padding: 15px 0;
  }
  #content #featured-products-container #title {
    font-weight: 800;
    font-size: 24px;
  }
  #content #featured-products-container #featured-products-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 30px;
  }
  #content #featured-products-container #featured-products-gallery .featured-product {
    width: inherit;
    height: 430px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-image {
    height: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-image div {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    transition: 0.3s all ease;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-image div p {
    font-size: 40px;
    font-weight: 800;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-image div:hover {
    background-color: rgba(0, 0, 0, 0.2509803922);
    color: white;
    cursor: pointer;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-details {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
    padding: 10px 0;
    height: 35%;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-details .product-name {
    font-size: 14px;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-details .product-price {
    font-size: 28px;
    font-weight: 600;
  }
  #content #featured-products-container #featured-products-gallery .featured-product .product-details .shop-now-button-gray {
    width: auto;
    padding: 10px 15px;
  }
  #footer #newsletter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    background-color: #2c3a57;
    color: #ffffff;
    padding: 25px 20px;
  }
  #footer #newsletter-section #right-section {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 10px;
  }
  #footer #newsletter-section #right-section input {
    width: 400px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  #footer #newsletter-section #right-section input::-moz-placeholder {
    font-size: 12px;
    color: #000000;
  }
  #footer #newsletter-section #right-section input::placeholder {
    font-size: 12px;
    color: #000000;
  }
  #footer #newsletter-section #right-section button {
    background-color: #df4134;
    padding: 13px 25px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  #footer #newsletter-section #right-section button:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
  #footer #main-content {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: flex-start;
    gap: 75px;
    padding: 30px 0;
  }
  #footer #main-content #about {
    width: 30%;
  }
  #footer #main-content #about #about-text {
    color: grey;
  }
  #footer #main-content div {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 20px;
  }
  #footer #main-content div .content-title {
    font-weight: 700;
    font-size: 14px;
  }
  #footer #main-content div .link {
    color: #df4134;
    font-size: 12px;
    transition: 0.3s color ease;
    text-decoration: none;
  }
  #footer #main-content div .link:hover {
    color: #2c3a57;
    cursor: pointer;
  }
}/*# sourceMappingURL=App.css.map */