$white-font-color: rgb(255, 255, 255);
$black-font-color: rgb(0, 0, 0);
$red-font-color: rgb(223, 65, 52);

<<<<<<< Updated upstream
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: blue;
    width: 100%;
    padding: 20px 30px;
}

footer {
    @extend header;
}

=======
// MOBILE LAYOUT
@media screen AND (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .website-icon {
        width: 16px;
        height: auto;
    }
    
    #header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #2C3A57;
        padding: 10px 75px;
        margin: auto;
    
        .header-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            font-size: 14px;
            text-align: center;
            color: $white-font-color
        }
    
        #nav-tabs {
            gap: 20px;
            
            p {
                transition: 0.3s color ease;
    
                &:hover {
                    cursor: pointer;
                    color: $red-font-color;
                }
            }
        }
    }
}
>>>>>>> Stashed changes
