@media screen and (min-width: 0px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }
  .website-icon {
    height: 20px;
    width: auto;
  }
  .website-logo {
    height: 75px;
    width: auto;
  }
  #header {
    background-color: #2c3a57;
  }
  #header #header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: auto;
    padding: 10px 0;
    width: 80%;
  }
  #header #header-content .header-section {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #ffffff;
    width: 400px;
  }
  #header #header-content .header-section:nth-child(2) {
    justify-content: center;
  }
  #header #header-content .header-section:nth-child(3) {
    justify-content: end;
  }
  #header #header-content #nav-tabs {
    gap: 20px;
  }
  #header #header-content #nav-tabs p {
    transition: 0.3s color ease;
  }
  #header #header-content #nav-tabs p:hover {
    cursor: pointer;
    color: #df4134;
  }
  #toolbar #toolbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 80%;
    margin: auto;
    padding: 10px 0;
  }
  #toolbar #toolbar-content #left-content {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 20px;
  }
  #toolbar #toolbar-content #left-content #website-title {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0;
  }
  #toolbar #toolbar-content #left-content #website-title h1 {
    font-weight: 800;
  }
  #toolbar #toolbar-content #left-content #website-title #sound-h1 {
    color: #df4134;
  }
  #toolbar #toolbar-content #left-content #searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
    padding: 10px 15px;
    height: -moz-min-content;
    height: min-content;
    border: thin solid rgba(0, 0, 0, 0);
  }
  #toolbar #toolbar-content #left-content #searchbar-container:focus-within {
    border: thin solid rgba(0, 0, 0, 0.2509803922);
  }
  #toolbar #toolbar-content #left-content #searchbar-container #searchbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 155px;
  }
  #toolbar #toolbar-content #left-content #searchbar-container #searchbar:focus {
    outline: none;
  }
  #toolbar #toolbar-content #left-content #searchbar-container #search-icon {
    width: 18px;
    height: auto;
  }
  #toolbar #toolbar-content #right-content {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 0;
  }
  #toolbar #toolbar-content #right-content div {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 30px;
  }
  #product-filters {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 45px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 80%;
    background-color: #ffffff;
    margin: auto;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 0;
  }
  #product-filters p {
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s color ease;
  }
  #product-filters p:hover {
    color: #df4134;
    cursor: pointer;
  }
  #content {
    width: 80%;
    margin: auto;
    background-color: blue;
  }
  #footer {
    width: 80%;
    margin: auto;
    background-color: purple;
  }
}/*# sourceMappingURL=App.css.map */