$website-white: rgb(255, 255, 255);
$website-black: rgb(0, 0, 0);
$website-red: rgb(223, 65, 52);
$website-gray: rgb(245, 245, 245);

$invisible: rgb(0, 0, 0, 0);
$high-translucence: rgb(0, 0, 0, 0.25);


// MOBILE LAYOUT
@media screen AND (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Open Sans";
    }

    .website-icon {
        height: 20px;
        width: auto;
    }

    .website-logo {
        height: 75px; 
        width: auto;
    }
    
    #header {
        background-color: #2C3A57;
        
        #header-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 10px 0;
            width: 80%;
    
            .header-section {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                color: $website-white;
                width: 400px;
            }

            .header-section:nth-child(2) {
                justify-content: center;
            }

            .header-section:nth-child(3) {
                justify-content: end;
            }
        
            #nav-tabs {
                gap: 20px;
                
                p {
                    transition: 0.3s color ease;
        
                    &:hover {
                        cursor: pointer;
                        color: $website-red;
                    }
                }
            }
        }
    }

    #toolbar {
        
        #toolbar-content {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 10px 0;

            #left-content {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                #website-title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h1 {
                        font-weight: 800;
                    }

                    #sound-h1 {
                        color: $website-red;
                    }
                }

                #searchbar-container {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    background-color: $website-gray;
                    padding: 10px 15px;
                    height: min-content;
                    border: thin solid $invisible;

                    &:focus-within {
                        border: thin solid $high-translucence;
                    }

                    #searchbar {
                        background-color: $invisible;
                        border: none;
                        width: 155px;

                        &:focus {
                            outline: none;
                        }
                    }

                    #search-icon {
                        width: 18px;
                        height: auto;
                    }
                }
            }

            #right-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 30px;
                }
            }
        }
    }

    #product-filters {
        position: sticky;
        top: 0;
        z-index: 1; 
        width: 80%; 
        background-color: $website-white; 
        display: flex;
        flex-direction: row;
        align-items: center; 
        gap: 45px;
        margin: auto;
        border-top: 2px solid $website-gray;
        border-bottom: 2px solid $website-gray;
        padding: 10px 0;
        
        p {
            font-size: 14px;
            font-weight: 700;
            transition: 0.3s color ease;

            &:hover {
                color: $website-red;
                cursor: pointer;
            }
        }
    }

    #content {
        width: 80%;
        margin: auto;
        background-color: blue;
    }

    #footer {
        width: 80%;
        margin: auto;
        background-color: purple;
    }
}
